# Dependencies
node_modules/
.pnp
.pnp.js

# Production build output
dist/
build/
*.tsbuildinfo

# Testing and Coverage
coverage/
*.lcov
.nyc_output/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables & Secrets
.env
.env.local
.env.*.local
*.pem

# IDE & Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archives & Large binaries
*.zip
*.tar.gz
*.tgz
*.rar
*.7z
